.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


* {
box-sizing: border-box;
}

body {
  background-image: url("https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2017/10/31/Photos/Processed/fruits-kFLF--621x414@LiveMint.jpg");
  background-size: cover;
  
  
}

.grid-container {
  padding: 2%;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(4, 21.25%);
  grid-template-rows: repeat(4, 21.25%);
  margin: 0 auto;
  height: 80vh;
  width: 80vh; }
  

  .grid-container .grid-item {
    border: 3px solid white;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 0 1px gray;
    transition: all .3s;
    overflow: hidden; }


     .grid-container .grid-item:after {
      content: '?';
      background-color: goldenrod;
      height: 100%;
      font-size: 3em;
      color: #fff;
      transition: all .3s;
      display: flex;
      align-items: center;
      justify-content: center; } 

    .grid-container .grid-item.reveal {
      cursor: unset;
      pointer-events: none;
      transform: rotateY(180deg);
      transition: all .3s; }

      .grid-container .grid-item.reveal:after {
        transform: rotateY(180deg);
        transition: all .3s;
        backface-visibility: hidden; }

    .grid-container .grid-item.hide {
      opacity: 0;
      transition: opacity .2s linear;
       }


       .message {
        display: inline;
        margin-left: 40%;
        color: green;
       }


       button {
        position: absolute;
        left: 200px;
        top: 80px;
        width: 100px;
        height: 40px;
        color: gold;
        background: white;
        border: none;
        box-shadow: 1px 2px 12px 0px rgba(0,0,0,0.55);
    }
    
    button:hover {
      background: gold;
      color: white
    }
       

       .block {
          pointer-events: none; 
       }
       